.featured {
	position: relative;

	.button-dark-container {
		max-width: 10rem;
		margin: 4rem auto 4rem auto;
	}
	.active {
		background-color: #000000;
		color: white;
	}
	h2 {
		margin: 3rem 0;
	}
	.swiper {
		.explanation {
			min-height: 4rem;
		}
		.swiper-pagination-bullet-active {
			background-color: #000000;
		}
		.swiper-slide {
			min-height: 27rem;
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
			margin-bottom: 3rem;
			.featured__slider-top {
				&__person {
					width: 100%;
				}
			}

			h4 {
				font-weight: 700;
			}

			.color-options {
				display: flex;
				gap: 0.3rem;
				&__option {
					width: 1rem;
					height: 1rem;
					border-radius: 50%;
				}
			}
		}
	}

	&__categories {
		margin-bottom: 3rem;
		display: flex;
		gap: 1rem;

		&__category {
			font-size: 1rem;
			background-color: transparent;
			border: 1px solid #f2f2f2;
		}

		.active:hover {
			background-color: black;
		}
		&__category:hover {
			background-color: #313131;
			color: white;
		}
	}
}

@media only screen and (max-width: 1100px) {
	.featured {
		&__categories {
			flex-wrap: wrap;
		}
	}
}

@media only screen and (max-width: 650px) {
	.featured {
		.swiper {
			.explanation {
				min-height: 2rem;
			}
		}
	}
}
