.call-to-action {
	position: relative;
	min-height: 48rem;
	display: flex;
	align-items: center;

	.container {
		width: 100%;
	}

	img {
		position: absolute;
		left: -7.5rem;
		width: 100vw;
		z-index: -1;
	}

	&__text {
		z-index: 2;

		h2,
		p {
			color: white;
		}

		p {
			margin: 2rem 0;
			max-width: 30rem;
		}
	}
}

@media only screen and (max-width: 1100px) {
	.call-to-action {
		min-height: 30rem;

		img {
			left: -2.5rem;
		}
	}
}

@media only screen and (max-width: 650px) {
	.call-to-action {
		text-align: center;
		min-height: 20rem;
		img {
			object-fit: cover;
			height: 100%;
			left: -1.25rem;
		}
	}
}
