.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;

	&__close {
		display: none;
	}
	&__burger {
		display: none;
	}
	ul li {
		list-style-type: none;
		cursor: pointer;
		font-size: 1.125rem;
	}

	&__logo {
		cursor: pointer;
	}
	&__full {
		display: flex;
		gap: 2rem;
		&__menu,
		&__socials {
			display: flex;
			gap: 2rem;
			align-items: center;

			&__dropdown {
				position: relative;

				&__hidden {
					position: absolute;
					background-color: white;
					left: -1rem;
					z-index: 1;
					width: 110%;
					padding: 1rem;
					display: flex;
					flex-direction: column;
					gap: 0.2rem;

					li:hover {
						font-weight: 600;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 1100px) {
	.navbar {
		&__full {
			&__socials {
				&__hidden {
					display: none;
				}
			}
		}
	}
}

@media only screen and (max-width: 650px) {
	.navbar {
		&__logo {
			width: 200%;
		}

		&__burger {
			display: block;
			width: 3rem;
		}
		position: relative;
		ul li {
			list-style-type: none;
			cursor: pointer;
			font-size: 1.5rem;
			color: white;
			font-family: "inter";
		}

		&__close {
			display: flex;
			position: fixed;
			z-index: 11;
			width: 2rem;
			top: 3rem;
			left: 1rem;
		}
		&__full {
			background-color: black;
			flex-direction: column;
			position: fixed;
			justify-content: space-between;
			top: 0rem;
			right: 0;
			width: 80%;
			height: 100vh;
			z-index: 10;
			padding: 4rem 2rem 8rem 3rem;
			display: none;
			&__menu,
			&__socials {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 3rem;

				li button {
					background-color: white;
					color: black;
					font-size: 1.5rem;
				}

				&__dropdown {
					position: relative;
					svg {
						path {
							fill: white;
						}
					}

					&__hidden {
						position: absolute;
						background-color: white;
						left: 0;
						z-index: 1;
						width: 110%;
						padding: 1rem;
						display: flex;
						flex-direction: column;
						gap: 0.2rem;
						border-radius: 8px;

						li:hover {
							font-weight: 600;
						}
						li {
							color: black !important;
						}
					}
				}
			}
		}

		&__full::after {
			content: "";
			z-index: 5;
			width: 21%;
			position: fixed;
			left: 0;
			top: 0;
			height: 100vh;
			background-color: rgba(0, 0, 0, 0.9);
		}
	}
}

.mobile-menu-displaying {
	display: flex;
}
