@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --primary-font: font-family: "Plus Jakarta Sans", sans-serif;
  --primary-color: black;
}


*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: var(--primary-font);
  color: var(--primary-color);
}

body {
  margin: 2rem 7.5rem 0 7.5rem;
  overflow-x: hidden;
}

p {
  font-size: 1.2rem;
}

h1 {
  font-size: 5rem;
  line-height: 110%;
  font-weight: 900;
  color: white;
}

h2 {
  font-size: 3rem;
  line-height: 120%;
  font-weight: 600;
}

h3 {
  font-size: 2rem;
  line-height: 120%;
}

h4 {
  font-size: 1.2rem;
  line-height: 120%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  padding: 0.625rem 1.5rem;
  font-size: 1.125rem;
  border-radius: 3.5rem;
  border: none;
  font-weight: 700;
  cursor: pointer;
}

.button-dark {
  background-color: var(--primary-color);
  color: white;
}

.button-dark:hover {
  background-color: #313131;
  color: white;
}

.button-dark:active {
  background-color: #A1A1A1;
  color: var(--primary-color);
}

.button-light {
  background-color: white;
  color: var(--primary-color);
}

.button-light:hover {
  background-color: var(--primary-color);
  color: white;
}

img.global-left {
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
}


@media only screen and (max-width: 1100px) {
  body {
    margin: 2rem 2.5rem 0 2.5rem;
  }
}

@media only screen and (min-width: 1441px) {
  .container {
    position: relative;
    max-width: 76.5rem;
    margin: 2rem auto 0 auto;
  }
}

@media only screen and (max-width: 650px) {
  p {
    font-size: 1rem;
  }

  h1 {
    font-size: 24px;
    line-height: 110%;
    font-weight: 900;
    color: white;
  }

  h2 {
    font-size: 22px;
    line-height: 120%;
    font-weight: 600;
  }

  h3 {
    font-size: 1rem;
    line-height: 120%;
  }

  h4 {
    font-size: 1.2rem;
    line-height: 120%;
  }

  body {
    margin: 2rem 1.25rem 0 1.25rem;
  }

}